*{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}
.main video {
    width: 100vw;
    object-fit:fill;
    height: 100vh;
    /* min-height: 100%; */
    /* height: 100%; */
}

.center-href{
    /* background: rgba(0, 0, 0, 0.192); */
    display: block;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    z-index: 2;
}

.a1 {
    cursor: pointer;
    /* background-color: #00000011; */
    position: absolute;
    width: 30%;
    height: auto;
    bottom: 33vh;
    left: 12vw;
    z-index: 2;
}
.a2 {
    cursor: pointer;
    /* background-color: #ffc0cb3f; */
    position: absolute;
    width: 30%;
    height: auto;
    bottom: 23vh;
    right: 12vw;
    z-index: 2;
}
.a3{
    position: absolute;
    width: 100%;
    height: auto;
    top: -35vh;
    left: 0;
    z-index: 1;
}

.hide{
    display: none;
}
.page_t6.hide{
    display: none;
}

.bgb{
    background: #000;
}

.page_t6{
    display: flex;
    justify-content: space-between;
}
.page_t6 .bg img {
    width: 100%;
    height: auto;
}
.page_t6 .bg {
    position: relative;
    flex: 1;
}

.bar {
    width: 175px;
    list-style: none;
    padding: 5px;
}

.bar li {
    border: 1px solid #ccc;
    margin: 3px;
    float: left;
    background-color: #fff;
}
.bar li.active{
    border-color: red;
}
.bar img {
    width: 50px;
    height: auto;
    cursor: pointer;
}
.bar li:hover{
    border-color: red;
    /* box-shadow: 0px 0px 0px 1px #a5a5a5; */
    transition: all .3s;
}


/* home */
.home img {
    width: 60%;
    position: absolute;
    z-index: 1;  
}
.home .center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.home .n1,.home .n2,.home .n3{
  top: 35%;
}
.home .n2{
  top: 15%;
    left: 10%;
}

.home .n3{
     top: 15%;
    right: 10%;
}
.page1{
    position: relative;
}

.page1 .n1,
.page1 .n2{
    position: absolute;
    /* width: 15%; */
    height: auto;
    cursor: pointer;
    top: 60%;
    left: 0%;
    z-index: 1;
}
.page_d1 .next {
    position: absolute;
    width: 15%;
    height: auto;
    cursor: pointer;
    top: 60%;
    left: 42%;
    z-index: 1;
}



.page_d2 .next{
    position: absolute;
    width: 5%;
    height: auto;
    z-index: 1;
    cursor: pointer;
}

.page_d2 .n1{
    top: 27%;
    left: 16%;
}
.page_d2 .n2{
    top: 13%;
    left: 48%;
}
.page_d2 .n3{
    top: 27%;
    right: 14%;
}

.page_d3 .center-href{
    width: 17%;
    height: 100px;
    left: 63%;
    top: 67%;
}

/* 天堂 */
.page_t1 img {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    z-index: 1;
    height: auto;
    max-height: 100vh;
    cursor: pointer;
}
.page_t2 .center-href:hover .n1,
.page_t3 .center-href:hover .n1,
.page_t4 .center-href:hover .n1,
.page_t5 .center-href:hover .n1{
    display: block;
}
.page_t2 .n1,
.page_t3 .n1,
.page_t4 .n1,
.page_t5 .n1
{
    display: none;
    width: 30%;
    position: absolute;
    z-index: 1;
    top: 23%;
    left: 36%;
}
.page_t2 .n1:hover,
.page_t3 .n1:hover,
.page_t4 .n1:hover,
.page_t5 .n1:hover,
 .next-t:hover,
 .choose:hover{
    transition: .3s all;
    transform: scale(1.1);
}
.next-t {
    position: absolute;
    right: 32%;
    bottom: 13%;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white;
    color: #6b9fff;
    padding: 3px 10px;
    font-weight: 500;
}
.choose {
    position: absolute;
    bottom: 13%;
    left: 33%;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid white;
    font-weight: 500;
    color: #6b9fff;
    padding: 3px 10px;
}
.page_t6 {
    position: relative;
}
.page_t6 .text {
    position: absolute;
    left: 40%;
    bottom: 14%;
    font-size: 2em;
    z-index: 1;
    color: white;
    font-weight: 300;
    font-family: monospace;
    background-image: url(./imgs/0815_1.jpg);
    background-size: 100% 100%;
    height: 9vh;
    width: 36%;
}

.completed,.reset,.end {
    position: absolute;
    cursor: pointer;
    border: 2px solid #6b9fff;
    font-weight: 500;
    color: #6b9fff;
    padding: 3px 10px;
    text-align: center;
}

.completed {
    left: 40px;
    bottom: 10vh;
}
.reset {
    top: 50%;
    left: 40%;
    border-color: #fff;
    min-width: 100px;
}
.end{
    top: 50%;
    right: 40%;
    border-color: #fff;
    min-width: 100px;
}